home/.config/fish/fish_variables
home/.config/gcloud/
home/.config/git/config_cpplain
home/.config/git/config_lamppostapps
home/.config/git/config_servicenow
home/.config/nvim/lazy-lock.json
home/.config/zsh/.zcompdump
home/.config/zsh/.zsh_history
home/.config/zsh/.zsh_sessions/
home/.config/zsh/.zshrc_servicenow
